#menu, #api1, #expected {
  margin: 0 0 0 0;
  width: 20%;
  height: 150px;
  float: right;
  position: relative;
  font-size: 250%;
  font-family: 'Quicksand', sans-serif;
}

#skills-chart-breadcrumb {
  float: right;
  margin-top: -685px;
}
