#menu, #api1 {
  margin: 0 0 0 0;
  width: 20%;
  height: 45px;
  float: right;
  position: relative;
  font-size: 195%;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

#expected {
  font-size: 125%;
}

#skills-chart-breadcrumb {
  float: right;
  margin-top: -685px;
}
